
    body{
  
        background: #AAA6AD;
      background: -webkit-linear-gradient(bottom, #AAA6AD, #1B3C72);
      background: -moz-linear-gradient(bottom, #AAA6AD, #1B3C72);
      background: linear-gradient(to top, #AAA6AD, #1B3C72);
        background-attachment:fixed;
        
      }
      
